.ambulancex {
    padding: 0;
    @keyframes banner2 {
        0% {
            transform: rotateY(180deg);
            right: -270px;
        }
        50% {
            transform: rotateY(180deg);
            right: 100%;
        }
        51% {
            transform: rotateY(0deg);
            right: calc(100% + 270px);
        }
        100% {
            transform: rotateY(0deg);
            right: -270px;
        }
    }
    .img-sticky {
        width: 320px;
        height: auto;
        position: absolute;
        bottom: 20%;
        animation: linear infinite;
        animation-name: banner2;
        animation-duration: 20s;

        @keyframes sirine {
            0%,
            100% {
                box-shadow: 2px 3px 12px 14px #590c10;
            }
            50% {
                box-shadow: 2px 3px 12px 14px transparent;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: 208px;
            bottom: 80%;
            width: 15px;
            height: 15px;
            background: transparent;
            border-radius: 50%;
            z-index: -1;
            animation: sirine 1s linear infinite;
            box-shadow: 2px 3px 12px 14px #590c10;
            @media screen and (max-width: 768px) {
                left: 142px;
                bottom: 82%;
                width: 8px;
                height: 8px;
            }
        }
        @media screen and (max-width: 768px) {
            width: 220px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .wrap-detikx {
        margin-top: -100vh;
    }
    .h-100vh {
        height: 90vh;
    }

    .h-50vh {
        height: 30vh;
    }
    .contents {
        width: 450px;
        background: #8c171e;
        padding: 8px;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        p {
            font-size: 1.2rem;
            margin-bottom: 0;
            font-family: "Source Code Pro";
        }
    }
    //ini buat yg jalan kiri ke kanan
    .ambulance {
        .img {
            width: 250px;
            height: auto;
            @media screen and (max-width: 768px) {
                width: 150px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .contents {
            width: 250px;
            background: #8c171e;
            padding: 8px;
            p {
                font-size: 14px;
                margin-bottom: 0;
                font-family: "Source Code Pro";
            }
        }
    }
}
