.banner {
    .title {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        h2 {
            font-size: 3rem;
            text-align: center;
            color: white;
        }
    }
}
