.sumber {
    min-height: auto;
    h3 {
        color: white;
        font-size: 1.2rem;
    }
    li {
        font-size: 1rem;
        font-family: "Source Code Pro";
    }
}

.creditx {
    border-top: 1px solid white;
    div {
        color: white;
    }
    span {
        font-family: "Source Code Pro";
    }
}
